[Unit]
Description=rhc canonical-facts service
Documentation=https://github.com/RedHatInsights/rhc
Before=yggdrasil.service

[Service]
Type=oneshot
User=root
Group=yggdrasil-worker
ExecStart=rhc canonical-facts
StandardOutput=truncate:/var/lib/yggdrasil/canonical-facts.json
StandardError=journal
UMask=0027

[Install]
WantedBy=yggdrasil.service
