[Unit]
Description=rhc server socket
Documentation=https://github.com/RedHatInsights/rhc

[Socket]
ListenStream=/run/rhc/com.redhat.rhc
FileDescriptorName=varlink
SocketUser=root
SocketGroup=root
SocketMode=0600

[Install]
WantedBy=sockets.target
