[Unit]
Description=rhc canonical-facts service
Documentation=https://github.com/RedHatInsights/rhc

[Service]
Type=oneshot
ExecStart=touch /var/lib/yggdrasil/canonical-facts.json
ExecStart=chown yggdrasil:yggdrasil /var/lib/yggdrasil/canonical-facts.json
ExecStart=rhc canonical-facts
StandardOutput=truncate:/var/lib/yggdrasil/canonical-facts.json
StandardError=journal
UMask=0027
