[Unit]
Description=rhc server socket
Documentation=https://github.com/RedHatInsights/rhc

[Socket]
ListenStream=/run/rhc/com.redhat.rhc
FileDescriptorName=varlink
SocketMode=0660

[Install]
WantedBy=sockets.target
