[Unit]
Description=Minimal Host Inventory data collector
After=network.target
Documentation=https://github.com/RedHatInsights/rhc

# Only try to restart six times
StartLimitIntervalSec=12h
StartLimitBurst=6

[Service]
Type=oneshot
ExecStart=/usr/libexec/rhc/rhc-collector run com.redhat.minimal

Restart=on-failure
RestartSec=1h

[Install]
WantedBy=multi-user.target
