[Unit]
Description=rhc server socket
Documentation=https://github.com/RedHatInsights/rhc

[Socket]
ListenStream=/run/rhsm/com.redhat.rhsm
FileDescriptorName=com.redhat.rhsm
SocketMode=0660
Service=rhc-server.service

[Install]
WantedBy=sockets.target
